{% extends "base_generic.html" %}

{% block content %}
<h1>DIY Blog Home</h1>

<p>Welcome to my <em>DIY Blog</em>, a very basic Django blogging website developed as an <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/django_assessment_blog">assessment task</a> for the Django learning module on the Mozilla Developer Network.</p>
<p>You can enjoy the translated stories which came from reddit-nosleep here!</p>

<div>
{% load static %}
<img src="{% static "images/diy_django_mini_blog_models.png" %}" alt="My image" style="width:649px;height:273px;"/>
</div>  

{% endblock %}